<%- include('./header')%>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Title -->
            <h1 class="mt-4"><%= article.title %></h1>


            <hr>

            <!-- Post Content -->
            <div>

            </div>
            <pre class="prettyprint">
            <%- article.sanitizedHtml %>

            </pre>

            <hr>
            <hr>
            <p><%= article.createdAt.toLocaleDateString() %></p>
        </div>




    </div>

</div>
<!-- /.row -->
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<style>
    pre.prettyprint {
        border: none !important;
    }
</style>
</div>
<!-- /.container -->
<div>

</div>
<%- include('./footer')%>